.stretch {
height:100%;
width:100%;
margin:0;
}

.vStretch {
height:100%;
}

html,body,.divTable {
height:100%;
width:100%;
margin:0;
}

.divTable {
display:table;
}

.divTableRow {
display:table-row;
}

.header,.footer {
background-color:#57E0FF;
color:#000;
text-align:center;
padding:5px;
}

.header {
height:50px;
}
.footer {
height:20px;
}

.menuDiv {
line-height:30px;
background-color:#EEE;
height:100%;
float:left;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;
}


.menuDiv ul {
display:inline;
padding:0;
}

.menuDiv ul li {
margin:0 0 15px;
}

.menuDiv ul li a {
display:block;
background-color:#00A9FF;
color:#000;
text-decoration:none;
border-radius:12px 0 0 12px;
padding:10px 20px;
}

.menuDiv ul li a:hover {
background-color:#57E0FF;
}

div.workArea {
height:100%;
overflow:hidden;
}

div.workArea iframe {
display:block;
border:none;
}